.block {
    position: relative;
}

.block:not(:last-child)::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(0.025 * var(--w)));

    width: 30%;
    height: 1px;

    background-color: var(--th2);
}

.personal-info ul {
    margin: 0;
    padding: 0 0 0 calc(0.05 * var(--w));
}

.icon-at {
}
